<div class="container px-5 py-24 mx-auto">
    <div class="text-center">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-stone-100 mb-4">Sobre Mim</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-stone-200">Conheça em detalhes minha trajetória, habilidades e o que me motiva a entregar soluções de qualidade!</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 neon rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>