<div class="flex flex-wrap justify-content-around align-items-center">
    <div class="text-center content mb-20 w-2/4">
        <h1 class="sm:text-4xl font-medium title-font text-stone-100 mb-4">Transformando Ideias em Soluções Tecnológicas</h1>
        <p class="text-base mb-6 leading-relaxed xl:w-2/3 lg:w-3/4 mx-auto text-stone-200">Especialista em desenvolvimento de sites, sistemas e aplicativos que conectam inovação e resultados. Explore o futuro com tecnologia eficiente e personalizada!</p>
        <button (click)="scrollTo('work')" class="flex-shrink-0 neon text-stone-100 border-2 border-indigo-500 py-2 px-8 focus:outline-none hover:bg-indigo-700 arrow-icon hover:text-white rounded text-lg mt-10 sm:mt-0">
          <div class="flex gap-2"> 
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
          </svg>
          Saiba Mais
        </div>
        </button>
      </div>
    <img class="float-image" src="./assets/imgs/person.png" alt="tecnlogia" loading="eager">
</div>