<section class="text-gray-600 body-font relative">
        <div class="container px-5  mx-auto flex sm:flex-nowrap flex-wrap">
                <div
                        class="lg:w-2/1 md:w-1/2 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
                        <img alt="content" class="object-cover object-center h-full w-full saturate-150"
                                src="./assets/imgs/ebook.png" />
                </div>
                <div
                        class="lg:w-1/1 md:w-1/2 p-8 flex flex-col items-center justify-center md:ml-auto w-full md:mt-0 relative z-10 shadow-md">
                        <h2 class="text-gray-100 text-lg mb-4 font-medium title-font text-[1.82rem]">
                                Transforme sua Paixão em Carreira: Torne-se um Programador de Sucesso
                        </h2>
                        <p class="leading-relaxed mb-5 text-stone-200 text-[1.1rem]">
                                Você sonha em se destacar no mundo da programação, mas não sabe por onde
                                começar? Nosso Ebook "Como se Tornar um Programador de Sucesso" é a sua
                                porta de entrada para uma carreira brilhante na tecnologia.
                        </p>
                </div>
        </div>
</section>