<div class="content flex flex-column justify-content-end align-items-end p-2">
        <p class="pb-1">Como Desenvolvedor de Software, tive experiência de atuação em grandes projetos de empresas
                multinacionais e demais empresas, utilizando tecnologias Web/Mobile.</p>
        <p class="pb-1"> Minha experiência nessas áreas me permitiu desenvolver uma compreensão profunda das
                complexidades do
                desenvolvimento de sistemas Web e aplicativos, entregando consistentemente resultados excepcionais aos clientes.</p>
        <p> Ao longo da minha carreira, desenvolvi e publiquei com sucesso diversos sistemas e aplicativos, sendo alguns
                deles,
                sistemas para automação de processos via RFID, automações de esteira com Node-Red, e integrações via
                SalesForce, Celonis, Ligaí etc. Utilizando diversas tecnologias de ponta e boas práticas de Codificação, Padrões de projeto
                e Arquitetura limpa.</p>
</div>