<div class="marquee">
    <div class="marquee-content">
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
      <span>Promoção Imperdível para o Primeiro Serviço</span>
    </div>
  </div>
  