:host{
    .rounded:hover{
        transform: scale(1.02);
    }
    .neon{
        background-color: #292524;
        color: #fff;
        box-shadow: 
        0 0 5px #6366F1,
        0 0 10px #6366F1,
        0 0 20px #6366F1,
        0 0 30px #6366F1,
        0 0 10px #6366F1;
    transition: all 0.3s ease-in-out;
    }
    .neon-bar{
        box-shadow: 
        0 0 5px #6366F1,
        0 0 10px #6366F1,
        0 0 20px #6366F1,
        0 0 40px #6366F1,
        0 0 10px #6366F1;
        transition: all 0.3s ease-in-out;
    }
}