<nav>
        <div class="bar menu"><i class="ri-menu-line" id="bar" (click)="MenuHidden()"></i></div>
        <div class="bar menu"><i class="ri-close-line" id="barclose" (click)="MenuHidden()"></i></div>
        <div class="nav-content">
                <ul id="menu">
                        <div class="flex">
                                <div class="NavIcon">
                                        <img class="brightness-100" src="./assets/logo/logo-kelvin.png" alt="logo">
                                </div>
                                <div class="NavLi">
                                        <li class="navText"><a href="#home">Início</a></li>
                                        <li class="navText"><a href="#work">Serviços</a></li>
                                        <li class="navText"><a href="#contact">Contato</a></li>
                                </div>
                        </div>
                </ul>
        </div>
</nav>

<div class="nav-contentt">
        <li class="NavLi" id="menu">
                <ul class="navText"><a href="#home">Home</a></ul>
                <ul class="navText"><a href="#about">About</a></ul>
                <ul class="navText"><a href="#contact">Contact</a></ul>
        </li>
</div>